[2019-11-07 06:19] prabhuomkar opened #1 "Add Linear Regression"
Code to be made available [here](https://github.com/prabhuomkar/pytorch-cpp/blob/master/tutorials/basics/linear_regression/main.cpp)

[2019-11-07 06:20] prabhuomkar opened #2 "Add Logistic Regression"
Code to be made available [here](https://github.com/prabhuomkar/pytorch-cpp/blob/master/tutorials/basics/logistic_regression/main.cpp)

[2019-11-07 09:04] #1 closed

[2019-11-08 19:02] #2 closed

[2019-12-03 05:10] prabhuomkar opened #4 "Add each tutorial as a sub-cmake-project"

[2019-12-03 05:11] prabhuomkar commented on #4
#3 closes this

[2019-12-03 05:11] #4 closed

[2019-12-03 09:20] prabhuomkar opened #6 "Add Convolutional Neural Network"
Initialize Intermediate Tutorials with Convolutional Neural Network

[2019-12-03 09:21] prabhuomkar commented on #6
#5 closes this

[2019-12-03 09:32] #6 closed

[2019-12-04 10:33] prabhuomkar opened #8 "Add Deep Residual Network"
Add tutorial with CIFAR10 dataset.

[2019-12-04 10:33] prabhuomkar commented on #8
#7 closes this

[2019-12-04 13:10] #8 closed

[2019-12-05 14:00] prabhuomkar opened #10 "Add Recurrent Neural Network"

[2019-12-05 14:00] prabhuomkar commented on #10
#9 closes this

[2019-12-05 14:00] #10 closed

[2019-12-06 13:29] prabhuomkar opened #12 "Add Bidirectional Recurrent Neural Network"

[2019-12-06 13:30] prabhuomkar commented on #12
#11 closes this

[2019-12-06 13:30] #12 closed

[2019-12-09 05:31] prabhuomkar opened #15 "Add Language Model"

[2019-12-09 05:32] prabhuomkar commented on #15
#14 closes this

[2019-12-09 05:32] #15 closed

[2019-12-10 05:20] prabhuomkar opened #17 "[feature] Refactoring code of Intermediate Tutorials"
**Is your feature request related to a problem? Please describe.**
Lot of common code is available as of now, which is creating too much redundancy of same training/iterations/testing/data-loading/saving sections.

**Describe the solution you'd like**
Moving common pieces of code to `utils` only specific to intermediate tutorials.

**Additional context**
Following modules can be extracted to utils

[2019-12-10 05:20] prabhuomkar opened #18 "[feature] Standardizing C++ Code"
**Is your feature request related to a problem? Please describe.**
C++ code seems to vary a bit in Beginner and Intermediate tutorials as of now. Need to make use of it at maximum potential for best performance.

**Describe the solution you'd like**
Following things need to be standardized:
- Libtorch data types initialized/assigned needs to be of appropriate type required
- Using `"\n"` over `std

[2019-12-11 04:58] prabhuomkar opened #20 "Add GAN Tutorial"

[2019-12-11 05:05] prabhuomkar commented on #20
#19 closes this

[2019-12-11 05:05] #20 closed

[2019-12-16 16:43] #18 closed

[2020-01-09 05:20] #17 closed

[2020-01-09 07:43] abhigoku10 opened #26 "How to run the code"
@prabhuomkar thanks for the this codebase , just wanted to knwo run your tutorials ??

[2020-01-09 08:42] mfl28 commented on #26
If you followed the steps in "Getting Started" in the readme, the binaries should be in
[code]
So for example, the executable for the logistic regression tutorial should be in
[code]

[2020-01-09 09:34] abhigoku10 commented on #26
@mfl28 @prabhuomkar  i followed the same steps but not able to see any binary files
![image](https://user-images.githubusercontent.com/22094053/72055631-30798980-32f1-11ea-9b52-eef6c41b5881.png)
in the mentioned location i have only the above contents . i am performing this activity on cpu , i have disable cuda==None

[2020-01-09 10:17] mfl28 commented on #26
Can you tell me exactly the cmake commands you used?
Did you execute `cmake --build build` from the pytorch-cpp directory after generating the build system?

[2020-01-09 10:29] abhigoku10 commented on #26
@mfl28 Thanks for instant response .Please find the commands i have done
git clone https://github.com/prabhuomkar/pytorch-cpp.git
cd pytorch-cpp
cmake -B build -D CUDA_V=none -D DOWNLOAD_DATASETS=OFF -D CMAKE_PREFIX_PATH= ./
cmake -build build

[2020-01-09 11:28] mfl28 commented on #26
Thanks!

You need to use **two** hyphens before the `build` parameter, like this:
`cmake --build build`

Some additional info for the first cmake command (`cmake -B build ...`):
* It isn't necessary to specify `-D CUDA_V=none` as it is set by default.
* You don't have to set  `-D DOWNLOAD_DATASETS=OFF` if the data was already previously downloaded as the cmake script checks if files are already pr

[2020-01-09 11:48] abhigoku10 commented on #26
@mfl28  thanks for the steps now i am able to build the binaries

[2020-01-09 11:48] prabhuomkar commented on #26
@mfl28  Agreed, I will send a PR for this.

[2020-01-09 11:50] prabhuomkar commented on #26
@abhigoku10 let's close this if there are not more queries or issues in running the code?

[2020-01-09 11:52] prabhuomkar opened #27 "[bug] Improve README for running the codebase"
**Describe the bug**
Users facing issues in running the code #26

**Expected behavior**
Users should be able to follow README and face no issues in running the code.
So, adding more detailed tutorial in README with all variations for running the code.

**Additional context**
Linking to installation of OS specific CMake, Libtorch will also be helpful.

[2020-01-18 15:44] #26 closed

[2020-02-19 11:31] alance123 opened #31 "Expression: vector subscript out of range"
In the tutorial of deep residual net. In the cifar.cpp, for the function--std::pair<torch::Tensor, torch::Tensor> read_data(const std::string& root, bool train),  it works well in linux, but when in win10, i got the following error.

![error](https://user-images.githubusercontent.com/17922415/74830573-68dba100-534e-11ea-835a-7bc79c638e2a.jpg)

[2020-02-19 18:05] mfl28 commented on #31
Thanks for reporting the error!
I could reproduce it in Windows 10 using Visual Studio 2017 in Debug config and using libtorch Debug version (it was working with Release mode).
Fix is coming in a PR.

[2020-02-20 02:14] prabhuomkar commented on #31
@alance123 can you check? The fix is on master now.

[2020-02-20 02:14] #27 closed

[2020-02-20 06:33] alance123 commented on #31
@prabhuomkar, I checked, the issue is fixed, thank you very much.

[2020-02-20 06:33] #31 closed

[2020-03-01 03:48] alance123 opened #34 "Why use the binary_cross_entropy as the reconstruction loss of variational_autoencoder?"

[2020-03-01 14:18] prabhuomkar commented on #34
Binary Cross Entropy (BCE) as reconstruction loss function is in place to calculate how many “bits” of information are preserved in the reconstruction compared to the original.

For more reference about loss functions and auto encoders, read here: [https://yaledatascience.github.io/2016/10/29/autoencoders.html](https://yaledatascience.github.io/2016/10/29/autoencoders.html)

[2020-03-02 06:59] alance123 commented on #34
Thank you.

[2020-03-02 06:59] #34 closed

[2020-03-10 20:30] Nivolsgel opened #37 "[bug] Build Problem on Raspberry Pi"
**Problem**
- I downloaded the files on a raspberrypi
- unpacked the files
- run: cmake -B build
- run: cmake --build build
- Console Text:

Scanning dependencies of target pytorch-cpp
[  2%] Building CXX object CMakeFiles/pytorch-cpp.dir/main.cpp.o
[  4%] Linking CXX executable pytorch-cpp
/home/pi/Desktop/LibTorch/libtorch/lib/libtorch.so: file not recognized: file format not recognized
collect2

[2020-03-11 07:38] mfl28 commented on #37
I think for this problem it would be best if you'd research/ask in the [official PyTorch forum's C++ section](https://discuss.pytorch.org/c/c/11). I only did a quick research, and it looks like the Linux libtorch version that you download from the PyTorch website is not compatible with the raspberry's architecture (see for example https://github.com/pytorch/pytorch/issues/15138#issuecomment-448961

[2020-03-11 13:53] Nivolsgel commented on #37
- https://discuss.pytorch.org/t/libtorch-for-raspberry-pi/63107
This actually solved the build problem.

But now there are new Problems showing up:

cmake --build build
Scanning dependencies of target pytorch-cpp
[  2%] Building CXX object CMakeFiles/pytorch-cpp.dir/main.cpp.o
[  4%] Linking CXX executable pytorch-cpp
[  4%] Built target pytorch-cpp
Scanning dependencies of target feedforward-neur

[2020-03-11 14:06] mfl28 commented on #37
Yes, theses errors are because of the older version, you need to use v1.4.
Someone in the forum has also provided version 1.4 wheels here: https://discuss.pytorch.org/t/installing-pytorch-on-raspberry-pi-3/25215/14.

[2020-03-12 17:22] prabhuomkar commented on #37
@Nivolsgel close this incase it's solved?

[2020-03-13 09:06] Nivolsgel commented on #37
Just tested it.
It works with https://discuss.pytorch.org/t/installing-pytorch-on-raspberry-pi-3/25215/14. this.
There are just some minor  compile Errors that can easily be solved.

Somehow I can't make the Console Window stay open to read the output.
Any quick ideas?
I already tried stuff like getchar()....
Is this a common Problem?

[2020-03-13 12:14] prabhuomkar commented on #37
Can you provide some examples of these errors?

Please bare with us as reproducing this will take some time.

[2020-03-13 13:50] Nivolsgel commented on #37
I only compiled the convolutional neural network.

The Error is that `torch::nn::functional::cross_entropy(output,` target);`
musst be replaced with `torch::nn::functional::binary_cross_entropy(output, target)`
the compiler suggests you to change this.

I don't know if there is acctually a difference between these functions, but with these changes I can compile the programm

[2020-03-13 14:18] Nivolsgel commented on #37
Just tried to compile the rest:

feed forward neural network:
- line 71 & 111: change `cross_entropy()` to `binary_cross_entropy()`

logistic regression:
- line 72 & 112: change `cross_entropy()` to `binary_cross_entropy()`

deep_residual_network:
- line 86 & 132: change `cross_entropy()` to `binary_cross_entropy()`

- /deep_residual_network/src/residual_block.cpp:42:10: error: ‘struct torch::nn::

[2020-03-14 08:23] prabhuomkar commented on #37
Can you provide following details?
- **OS Name, Type and Version**
- **C++ Compiler Name and Version**
- **Screenshots (if possible)**

[2020-03-14 08:27] prabhuomkar opened #39 "[feature] Add Support for Windows OS in Travis CI Matrix Build"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
[Reference](https://docs.travis-ci.com/user/reference/windows/)

**Describe alternatives you've considered**
N/A

**Additional context**
Bullet proofing the tutorials by testing the builds on Windows and available C++ compilers

[2020-03-16 08:16] Nivolsgel commented on #37
sorry for the late response

**OS:**
`PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"`
`NAME="Raspbian GNU/Linux"`
`VERSION_ID="10"`
`VERSION="10 (buster)"`
`VERSION_CODENAME=buster`
`ID=raspbian`
`ID_LIKE=debian`
`HOME_URL="http://www.raspbian.org/"`
`SUPPORT_URL="http://www.raspbian.org/RaspbianForums"`
`BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"`

**C++ compiler:**
`g++ (Raspbian 8.3.0-

[2020-03-17 11:31] Mithil467 opened #42 "Download progress bar for CIFAR-10 [feature]"
Hi @prabhuomkar @mfl28
While generating the build system, the process appeared to be stuck at the step "Fetching CIFAR10 dataset...".

![Current status of downloading](https://user-images.githubusercontent.com/41439841/76851358-220a9980-686f-11ea-968d-b24015922c47.jpeg)

I actually restarted the process midway, thinking that the process had frozen. The download process took approximately about 30

[2020-03-17 13:12] #42 closed

[2020-04-20 06:13] arrufat opened #47 "[bug] Unable to serialize the VGG19 script module from NeuralStyleTransfer to a file"
**To Reproduce**
Steps to reproduce the behavior:

Run:
[code]
**Expected behavior**
The script module should be generated.

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Libtorch Version 1.4.1 (from Arch Linux repository)

[2020-04-20 07:23] mfl28 commented on #47
Thanks for reporting this bug! Fix is coming.

[2020-04-20 09:35] #47 closed

[2020-04-24 13:02] #39 closed

[2020-04-26 03:13] jianyin2016 opened #51 "[feature]requesting for pretrained weights"
**Is your feature request related to a problem? Please describe.**

It is the other situation when I try to train with gray images，as the `Conv1` weights is supposed to be of  `in_channels=3`,  In the python fronten, I guess this maybe solved but imdieatly repalce the model.conv1 like this:
[code]
but as for the C++ fronten, repalcing seems not work:
[code]

**Describe the solution you'd like**

*

[2020-04-26 07:43] mfl28 commented on #51
Hi @jianyin2016 !
I think the easiest way to achieve what you want to do - if I understand correctly - is:
1. Create your model as you want it in python:

[code]
2. Save it as a scriptmodule:
[code]
3. Load it in C++ via `auto model = torch::jit::load("path/to/my_resnet.pt")`

There is a nice and much more detailed description of this process in the official Pytorch tutorials:
[Loading a TorchScri

[2020-04-26 08:12] jianyin2016 commented on #51
Hi，@mfl28 , thanks for your nice advice.

There is no doubt that your solution will work, I quite believe in that , but the solution seems to be sort of bypassing rather than solving. I think maybe it is not the right way using the C++ API while at the same time relying too much on the PYTHON parts. so, still, I am here asking for a solution absolutly within libtorch.

thanks!

[2020-04-26 09:09] mfl28 commented on #51
To my knowledge it is currently not possible to do this completely within C++, as there is no `load_state_dict()` function for models in libtorch (see  [this recent issue](https://github.com/pytorch/pytorch/issues/36577) in the official pytorch repo) to load pickled weight files. Maybe you can find more information on this in the [Pytorch forum](https://discuss.pytorch.org/) or the official repo's

[2020-04-27 01:22] #51 closed

[2020-05-31 10:30] FarukUgurcali commented on #37
I have a similar issue while trying to build convolutional_neural_network from repo.
`[ 33%] Building CXX object CMakeFiles/freespace_torch.dir/src/convnet.cpp.o
In file included from /home/fugurcal/freespace_torch/src/convnet.cpp:2:0:
/home/fugurcal/freespace_torch/include/convnet.h:13:20: error: ‘BatchNorm2d’ is not a member of ‘torch::nn’
         torch::nn::BatchNorm2d(16),

[2020-06-01 08:49] mfl28 commented on #37
Here is how I got the tutorials to build successfully on a Raspberry 3B+:
1. Download Pytorch 1.5 wheels for arm architecture to the RPi from this repo: https://github.com/maltequast/pytorch_arm_whl (You may also build them yourself on another system using Docker with [qemu-raspbian](https://github.com/choonkiatlee/qemu-raspbian#example-build-pytorch-wheels-for-the-raspberry-pi)).
2. Install on th

[2020-06-01 09:26] FarukUgurcali commented on #37
Sorry for confusion I am not using RPi. I am using Ubuntu 18.04 laptop with libtorch 1.5.0 (with cuda 10.2).  My current g++ vesion is 7.5.0

[2020-06-01 11:20] mfl28 opened #55 "[bug] Build Problem on Ubuntu"
I have a similar issue while trying to build convolutional_neural_network from repo.
 `cmake --build . --config Release
Scanning dependencies of target freespace_torch
[ 33%] Building CXX object CMakeFiles/freespace_torch.dir/src/convnet.cpp.o
In file included from /home/fugurcal/freespace_torch/src/convnet.cpp:2:0:
/home/fugurcal/freespace_torch/include/convnet.h:13:20: error: ‘BatchNorm2d’ is no

[2020-06-01 11:23] mfl28 commented on #37
@FarukUgurcali
Ok, no problem, I have created a new issue for your problem in #55 . Let's continue discussing a solution there to keep things more organized.

[2020-06-01 11:26] mfl28 commented on #55
@FarukUgurcali
Can you tell me the exact CMake commands you used to build the tutorials?

[2020-06-01 12:06] prabhuomkar commented on #37
@Nivolsgel can you try the latest solution provided by markus and let us know if this valid?

[2020-06-02 02:13] FarukUgurcali commented on #55
While making "cmake -DCMAKE_PREFIX_PATH=/absolute/path/to/libtorch .." my libtorch directory was "/home/user/folder/libtorch". After changing the libtorch directory to "/home/user/libtorch" issue solved.

[2020-06-02 02:35] prabhuomkar commented on #55
Looks like solved, @FarukUgurcali
Let us know if you need more help, or we can close this ;)

[2020-06-12 05:59] qingfengmingyue opened #56 "Why does Libtorch use more memory than Pytorch does in Python？ Such as:ESRGAN"
Why does Libtorch use more memory than Pytorch does in Python？ Such as:ESRGAN

[2020-06-12 06:35] prabhuomkar commented on #56
We don't have an implementation of ESRGAN in our repository.
Considering this being a general question related to memory usage, can you give us metrics how you calculated the memory usage for both?

[2020-06-12 07:08] qingfengmingyue commented on #56
Directly predict in two ways, on the 1080TI libtorch can only predict 200*200, and the other can predict 800*800

[2020-06-12 07:08] qingfengmingyue commented on #56
Directly predict in two ways, on the 1080TI libtorch can only predict 200*200, and the other can predict 800*800

[2020-06-12 07:09] qingfengmingyue commented on #56
Directly predict in two ways, on the 2080TI libtorch can only predict 200X200, and the other can predict 800X800

[2020-06-21 08:52] #55 closed

[2020-08-17 02:36] ouening opened #61 "Hope for support for YOLOv3 object detection model."
Hi, your work is very awesome! And I hope you can add support for yolov3 model if you have time because yolov3 is very popular in object detection.

[2020-08-18 16:24] prabhuomkar commented on #61
@ouening do you have a reference Python implementation for YOLOv3?

[2020-08-27 02:31] ouening commented on #61
Yes, but the API is old, not compatible with the latest libtorch.

[2020-08-27 03:04] MavenFeng opened #63 "A Question"
When I use the CPU to train the model, as the number of iterations increases, Loss.Backward () this function is getting slower and slower  ？However, the memory on vs2017 has been stable。
`for (int i = 0; i < num_epochs; i++) {

		int batch_index = 0;

		for (auto &batch : *dataloader) {

			auto data = batch.data.to(device);
			auto target = batch.target.to(device);

			auto output= ae->forward(ta

[2020-08-27 04:05] ouening commented on #61
I have solved the version compatiable problem. See https://github.com/walktree/libtorch-yolov3/issues/52#issue-686915754

[2020-08-27 04:05] #61 closed

[2020-08-27 06:27] mfl28 commented on #63
Hard to say from this code alone.
Just to clarify: When you say slower you mean the value of `v1` gets larger or do the later iterations get noticeably slower (or both)?

Have you tried to measure *wall time* using `std::chrono::high_resolution_clock::now()` as described in the example [here](https://en.cppreference.com/w/cpp/chrono/c/clock) instead of *CPU time* with `std::clock()`?

[2020-08-27 06:34] mfl28 commented on #37
Closed for now due to inactivity. Will be reopened if there are further questions concerning this problem and the proposed [solution](https://github.com/prabhuomkar/pytorch-cpp/issues/37#issuecomment-636708531).

[2020-08-27 06:34] #37 closed

[2020-08-27 06:53] MavenFeng commented on #63
thank for your reply,
I used the function you mentioned, but the result is the same
 v1  gets larger  -> loss.backward() cost time gets larger
for example , [epoch 1 ]loss.backward() only cost 200ms every batch   but [epoch 2] cost  500+ms ……  3 ,4 ++ time gets larger
Do you have a similar problem?

[2020-08-27 07:52] mfl28 commented on #63
No, I have not seen any slow down in later iterations in any of our tutorials. However, we currently only measure epoch timings in the image captioning tutorial.

Clarifying further, from your comment in the code, you also get this slowing down when just using `torch::nn:functional::mse_loss()` as your loss function?

And out of curiosity: Why are you passing target as the argument and not data in

[2020-08-27 08:04] MavenFeng commented on #63
1.just using mse_loss   the time is also become slower
2.hahahahaha because i forget to swap(data,target) so .... target means->data

[2020-08-27 08:22] mfl28 commented on #63
Then I guess that the cause to your problem must be somewhere in your model-implementation and/or your data-loading.

[2020-08-27 08:35] MavenFeng commented on #63
thank for your help  i guess same as you  ,
now i need to check my code and compare with your code;

[2020-09-01 12:12] paklau99988 opened #64 "[feature] Add support for juce::image to torch::tensor and back"
**Is your feature request related to a problem? Please describe.**
Hello,
I is use Libtorch for process image, OpenCV very large so try avoid. I try use JCUE C++ framework.

**Describe the solution you'd like**
Not able to convert torch::Tensor to juce::image. I want to read a Video file, split into images on the fly and apply Deep Learning algorithm on image in Libtorch, then turn it back to imag

[2020-09-01 17:34] mfl28 commented on #64
Hi!
Can you tell us where you are getting errors? In your `torch::tensor` --> `cv::Mat` function or in the `cv::Mat` --> `juce::Image` function? Which are these errors?

[2020-09-02 07:20] mfl28 commented on #63
No problem! Closing this for now.

[2020-09-02 07:20] #63 closed

[2020-09-02 12:00] paklau99988 commented on #64
Is make crash in middle of cv:mat to juce image. I dont want OpenCV at all.

[2020-09-03 07:31] mfl28 commented on #64
I got this to work with the following code, without using OpenCV:
[code]
with the format <--> channels conversion functions:
[code]
Note that I just did a quick test with an RGB jpg file and did not check every possible format.

[2020-09-04 14:28] prabhuomkar commented on #56
@qingfengmingyue waiting for some more information and want to know if its related to any example from this repository?

[2020-09-07 04:44] prabhuomkar opened #66 "[feature] How to build a single tutorial?"
@mfl28 can we add some instructions on how to build a single tutorial and if necessary its datasets only?
I believe many users want to try "X" tutorial from all and if there is an easy to follow guide that would be great :)

PS: Added this as an issue for visibility and referencing.

[2020-09-07 06:04] mfl28 commented on #66
There is no easy way to do this currently because the datasets are downloaded at CMake configure time. At this stage we do not yet know which target the user wants to build.

I have been thinking about instead doing the datasets pulling as post-build steps with dependencies on the specific tutorials that need them. So for example for the image captioning tutorial (that needs the flickr8k dataset)

[2020-09-07 06:19] prabhuomkar commented on #66
- We can download all sets of datasets on start, but I think a better way would be to add it as a dependency for individual tutorials while building. After building a tutorial, dataset availability will be checked and downloaded if not exists
- I think we support build all tutorials, we should have both options: Build all / Build single, by specifying the target as you mentioned. We can go with th

[2020-09-07 12:07] prabhuomkar opened #67 "[feature] Add Contributing Guide"

[2020-09-07 17:55] prabhuomkar opened #69 "[request] Add Deep Learning with PyTorch: A 60 Minute Blitz"
- Add [Deep Learning with PyTorch: A 60 Minute Blitz](https://pytorch.org/tutorials/beginner/deep_learning_60min_blitz.html)

[2020-09-07 17:56] prabhuomkar commented on #56
closing as stale and not provided enough input.

[2020-09-07 17:56] #56 closed

[2020-09-07 17:58] prabhuomkar opened #70 "Tutorial Requests / Roadmap"
Issue to track tutorial requests:
- Deep Learning with PyTorch: A 60 Minute Blitz - #69
- Sentence Classification - #79
- Run in containers with CUDA - #100

[2020-09-07 18:46] #69 closed

[2020-09-08 03:05] #67 closed

[2020-09-19 07:41] #66 closed

[2020-09-20 10:04] QuantScientist opened #72 "Integration of torch::tensor with Siv3D Image / texture"
**Is your feature request related to a problem? Please describe.**
I am the author of Siv3DTorch (https://github.com/QuantScientist/Siv3DTorch) which integrates OpenSiv3d with Libtorch C++.
At the moment Siv3D does not support CMake and therefore all integration efforts are on VC 19.
One main burning issue that I have is reading and writing Images/video frames from and to Siv3D without using OpenC

[2020-09-20 12:29] QuantScientist commented on #72
I also understand that torchvision has integration with libpng:
https://github.com/pytorch/vision

But I could not find any example.

[2020-09-21 06:03] mfl28 commented on #72
Hi!
so as you describe [here](https://github.com/Siv3D/OpenSiv3D/issues/534), you are able to read images from disk to `torch::tensor`s using stb_image but you are missing the conversion `torch::tensor` -> `s3d::Image`?

If that is the case, have you tried the available constructors of the `Image` class in OpenSiv3D? I could find constructors taking `s3d::FilePath`s and `s3d::IReader`s (e.g.: [`s3

[2020-09-21 12:19] QuantScientist commented on #72
@mfl28  Thank you so much for your reply. I ended up writing a small lib:
https://github.com/QuantScientist/PngTorch

I am going to test it with Siv3D, it works great independently.

[2020-09-25 05:42] prabhuomkar opened #73 "[feature] ImageNet Dataset Example"
Required via https://github.com/pytorch/pytorch/issues/34862#issuecomment-695136418

[2020-09-25 05:42] prabhuomkar commented on #73
Will be working on weekend, should be available by Monday

[2020-09-25 05:44] prabhuomkar commented on #64
@paklau99988 any update?

[2020-10-04 16:45] soumyadipghosh commented on #73
@prabhuomkar Is there any update? Thanks.

[2020-10-15 21:47] soumyadipghosh commented on #73
@prabhuomkar Following up?

[2020-10-16 02:07] prabhuomkar commented on #73
Hey sorry @soumyadipghosh due to some technical circumstances, couldn't really work on this.

Let me cc: @mfl28
Can you take this up Markus over weekend?
I'll try this weekend though. Apologies for that.

[2020-10-18 02:56] soumyadipghosh commented on #73
@prabhuomkar Okay, let me know when there is any draft code.

[2020-10-19 11:37] cvchanghao opened #74 "A question"
I use `torch.jit.trace()` and save my own CNN_model. The return of my network is a tuple contains 3 tensors.
When I use C++ as front, I use `auto output = module.forward(inputs);` to get my result. But how can I get the 3 tensors individually? and do some C++ operations?

Thank you!

[2020-10-19 12:00] mfl28 commented on #74
`script::module`'s `forward` method returns an `IValue` type that has many methods to convert to other types, see [here](https://pytorch.org/cppdocs/api/structc10_1_1_i_value.html?highlight=ivalue). You might want to try `toTensorList()`, `toTensorVector()` or `toTuple()`.

[2020-10-26 08:15] mfl28 commented on #74
Closing this for now, hope I could help you with your problem :)

[2020-10-26 08:15] #74 closed

[2020-10-26 08:17] mfl28 commented on #64
Closing this for now, will be reopened if there are further questions.

[2020-10-26 08:17] #64 closed

[2021-03-06 08:27] #72 closed

[2021-03-06 14:27] mfl28 opened #76 "[feature] Upgrade to libtorch version 1.8.0."
**Is your feature request related to a problem? Please describe.**
* Upgrade the CMake scripts to download the latest libtorch version 1.8.0 and update the supported CUDA versions.
* Update the CUDA version used in the colab notebook to version 11.1.
* Update the Readme.
* Update the PyTorch and Torchvision versions in Dockerfile.

[2021-03-06 14:35] mfl28 opened #77 "[feature] Switch to Github Actions CI."
**Is your feature request related to a problem? Please describe.**
* I'd suggest we switch from Travis CI to Github Actions CI as Travis seems to no longer allow unlimited free builds for open-source projects (see [here](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)).

**Describe the solution you'd like**
* Remove the Travis CI setup and add equivalent Github Actions CI setup.

[2021-03-07 07:17] #76 closed

[2021-03-07 07:18] prabhuomkar commented on #77
Will take a look into and create a PR!

[2021-04-01 17:04] avinashsai opened #79 "[feature] Add Sentence Classification tutorial on a custom dataset"
Hi,
I have found that current examples are on existing pytorch datasets. There are no examples on a custom dataset. I have a tutorial of sentence classification on a custom dataset.
https://github.com/avinashsai/pytorch_cpp/tree/master/sentence_classification_cnn
Please, let me know if it can be added.

[2021-04-01 17:22] prabhuomkar commented on #79
Hi @avinashsai thanks for your interest :)
Please create a PR for the same, the tutorial would go in `tutorials/community/sentence_classification`
Assign me and @mfl28 for the reviews and we'll get it released!

Please follow the folder structure, code style and CMake usage of the repository.

[2021-04-30 14:59] wesboyt opened #80 "Wasserstein Metric criterion"
I need to predict discrete density functions that have ordinal information.

I would like an earth movers distance implementation for my work.

I'm currently using KL divergence

[2021-06-07 09:14] faranaziz opened #81 "Have dataloader for ImageNet"
**Is your feature request related to a problem? Please describe.**
I want have load ImageNet, not MNIST.

**Describe the solution you'd like**
To have a dataloader for ImageNet that works with training one of the models.

Thnaks.

[2021-06-20 13:41] iDestro opened #82 "How to use ModuleList？"
I found that in this project, there is no code using ModuleList. I recently encountered some problems in using ModuleList.If you can give some examples, thank you very much.

[2021-06-27 17:50] mfl28 commented on #82
Hi @iDestro !
Can you give more details about the problems you encountered using `ModuleList`?

[2021-06-28 09:09] sedurCode opened #83 "[bug] Issue loading MNIST dataset"
**Describe the bug**
There are two parts to this bug.
First off I am failing to build because CMAKE is telling me that the MD5sums of the 4 files from the classic source that is referenced are different to those in the CMakeLists file.

- This can be bypassed by accessing the mnist files [stashed in google by pytorch](https://storage.googleapis.com/torch-datasets/mnist/)

Bypassing that issue, as

[2021-06-28 15:42] mfl28 commented on #83
Hi @sedurCode !

There seem to be some problems with the download from the classic MNIST source (http://yann.lecun.com/exdb/mnist/) from time to time. If you get the correct files from another source and place them inside data/mnist you should be OK.

For your second problem: This may be connected to the relative path (`MNIST_data_path`) that is set in the pytorch-basics `main.cpp`. By default VS

[2021-06-28 17:25] sedurCode commented on #83
Thanks @mfl28 I changed the file to point at the absolute path with escaped slashes, but issue was not resolved.
To better track the bug I swapped over to the debug build of the same version of libtorch, and now I am getting past the issue.
Not sure if its worth further chasing, as I suspect it was finger trouble on my part in the cmakelists settings json file for the project.
Thanks for respondin

[2021-07-11 15:48] #83 closed

[2021-07-30 10:03] mfl28 opened #84 "[bug] MNIST dataset download from classic source rarely works."
**Describe the bug**
The classical MNIST source (http://yann.lecun.com/exdb/mnist/) seems to be very unreliable lately. We should switch to an alternative mirror as used in [pytorch MNIST dataset](https://pytorch.org/vision/stable/_modules/torchvision/datasets/mnist.html#MNIST) (https://ossci-datasets.s3.amazonaws.com/mnist).

This has also been reported in #83 .

**To Reproduce**
Steps to reprodu

[2021-08-02 18:22] #77 closed

[2021-08-03 06:28] mfl28 commented on #80
The purpose of this repo is to provide tutorials to get people started with PyTorch's C++ API. If you have an idea for a new tutorial please open an issue (and - if you already implemented your idea - a PR) with a detailed description. For your specific issue, you might get help by asking in the Pytorch discussion forum or the official Pytorch Github issues.

[2021-08-03 06:28] #80 closed

[2021-08-03 06:33] mfl28 opened #87 "[feature] Upgrade to libtorch v1.9.0"
* Upgrade to libtorch version 1.9.0.

[2021-08-03 06:38] mfl28 commented on #82
You might want to take a look at the implementations/documentation/tests at:
* https://github.com/pytorch/pytorch/blob/master/torch/csrc/api/include/torch/nn/modules/container/modulelist.h
* https://github.com/ShahriarSS/pytorch/blob/master/test/cpp/api/modulelist.cpp

[2021-08-03 06:38] #82 closed

[2021-08-03 07:25] mfl28 commented on #81
[Here](https://gist.github.com/mfl28/0bf2637a156bb8073fbcd2feffe1b22c) I have implemented a simple ImageFolder dataset. It requires C++17  for `<filesystem>` and was tested using libtorch 1.9.0 and the [imagenette](https://github.com/fastai/imagenette) dataset (a subset of ImageNet).

[2021-08-03 07:26] mfl28 commented on #73
[Here](https://gist.github.com/mfl28/0bf2637a156bb8073fbcd2feffe1b22c) I have implemented a simple ImageFolder dataset. It requires C++17  for `<filesystem>` and was tested using libtorch 1.9.0 and the [imagenette](https://github.com/fastai/imagenette) dataset (a subset of ImageNet).

[2021-08-05 03:44] #84 closed

[2021-08-07 10:49] #87 closed

[2021-08-15 17:45] prabhuomkar commented on #73
@mfl28 is there a chance you can create a PR for the ImageNet dataset and add as a part of `basics` or `popular` ?

[2021-12-20 10:30] Paras-97 opened #89 "Error in loading MNIST dataset, convolutional_neural_network"
Hi,
I am unable to read the images in the MNIST dataset.
below I have listed the error that I am receiving. Can you please help me with it.
Thanks

: ~/Projects/cnn/build$ ./cnn

Convolutional Neural Network

CUDA available. Training on GPU.
terminate called after throwing an instance of 'c10::Error'
  what():  Error opening images file at ../../../../data/mnist/train-images-idx3-ubyte
Exception r

[2021-12-20 18:00] prabhuomkar commented on #89
@Paras-97 did you run `cmake -B build -D DOWNLOAD_DATASETS=ON` - this will download the dataset
right now the line:
[code]
indicates that dataset isn't available, so while reading this is throwing an error

[2021-12-21 20:02] prabhuomkar commented on #89
@Paras-97 can you confirm?

[2021-12-25 12:44] mfl28 commented on #73
@prabhuomkar This would require setting the C++ version to c++17 just for this new tutorial as all others currently use c++14. I can update the c++ version of all tutorials to c++17 but that would probably mean losing support for some (very old) compiler versions. However, after a quick check at least all compilers used in our CI seem to fully support c++17.

[2021-12-27 02:20] prabhuomkar commented on #73
Then yes, let's go for it. I can take a look at the PR.

[2021-12-28 07:20] mfl28 opened #90 "[feature] Upgrade C++ version to 17"
**Is your feature request related to a problem? Please describe.**
There is (afaik) no pre-c++17 way to do file operations such as iterating over files in a folder in a way that is portable across operating systems without additional external dependencies such as `boost.Filesystem`. This makes it hard to implement e.g. custom datasets such as an `ImageFolderDataset`.

**Describe the solution you'd

[2021-12-28 07:44] mfl28 opened #92 "[feature] Upgrade libtorch to v1.10.1"
* Upgrade libtorch to latest stable version v1.10.1.

[2021-12-28 09:33] #90 closed

[2021-12-31 14:33] #92 closed

[2022-01-27 07:52] wulaoshi opened #94 "The time consuming bug of '.to(at::kCPU)' [bug]"
This is g great project!
Recently, I find using '.to(at::kCPU)' from CUDA takes a very long time, when I use my model to inference on GPU. Like this:

[code]
So what should I do to reduce the time consuming?
Looking forward to your reply, thanks!

[2022-01-28 13:57] mfl28 commented on #94
You probably need to call `cudaDeviceSynchronize()` after the forward call to wait for the gpu to finish and  get meaningful results when measuring times.

[2022-02-02 18:51] #81 closed

[2022-02-02 18:52] prabhuomkar commented on #73
@soumyadipghosh closing this as an example is added

[2022-02-02 18:52] #73 closed

[2022-02-08 03:30] wulaoshi commented on #94
Thanks. I am trying to `#include <cuda_runtime_api.h>`  and `cudaDeviceSynchronize()`, but something wrong:
`/usr/bin/ld: src/models/MatrixRegressionBertModel.64.g.o: undefined reference to symbol 'cudaDeviceSynchronize@@libcudart.so.10.1'
/usr/bin/ld: note: 'cudaDeviceSynchronize@@libcudart.so.10.1' is defined in DSO ./libs/libtorch/lib/libcudart-1b201d85.so.10.1 so try adding it to the linker co

[2022-02-08 06:31] wulaoshi commented on #94
Thanks. When I using `cudaDeviceSynchronize()` I find this step takes about 80 milliseconds:
`
vector<torch::jit::IValue> inputs = {input_data.input_ids_pt_,
                                       input_data.attention_mask_pt_,
                                       input_data.token_type_ids_pt_};
  auto pred_res = (static_cast<torch::jit::script::Module*>(bert_model_))->forward(inputs);      // A

[2022-02-08 07:00] wulaoshi commented on #94
When I using `cudaDeviceSynchronize()` I find this step takes about 80 milliseconds:

[code]
So is there any way to reduce the time of `cudaDeviceSynchronize()`?
Looking forward to your reply, thanks!

[2022-02-08 10:47] costashatz commented on #94
I guess you lack some kind of understanding of how CUDA works. The idea is the following:

[code]

`cudaDeviceSynchronize()` will just make sure that all CUDA calls have finished. CUDA executes many things in parallel, so measuring time the traditional way (assuming everything executed in order etc) is not correct. `cudaDeviceSynchronize()` waits for all active CUDA to finish before letting the co

[2022-02-09 02:54] wulaoshi commented on #94
Thanks, I get it.

[2022-02-12 07:57] #94 closed

[2022-06-06 14:37] baik33 opened #96 "Compile failure"
Hello there,

I'm having this problem:
[ 21%] Building CXX object tutorials/intermediate/convolutional_neural_network/CMakeFiles/convolutional-neural-network.dir/src/main.cpp.o
/root/ml/pytorch-cpp/tutorials/intermediate/convolutional_neural_network/src/main.cpp: In function 'int main()':
/root/ml/pytorch-cpp/tutorials/intermediate/convolutional_neural_network/src/main.cpp:106:12: error: 'Inferenc

[2022-06-06 16:52] prabhuomkar commented on #96
what is the version of libtorch you’re using?

[2022-06-06 18:16] baik33 commented on #96
I think I've figured out what the problem is.  Thank you Omkar!

[2022-06-06 19:36] #96 closed

[2022-07-16 12:35] mfl28 opened #97 "[feature] Upgrade libtorch to v1.12.0"
* Upgrade to latest stable libtorch version 1.12.0.

[2022-07-16 15:53] #97 closed

[2022-10-04 04:24] rajhlinux opened #99 "Human detection tutorial please."
I'm always frustrated when google spits out only python and tensorflow human detection implementation :man_facepalming:

It would be great if this libtroch tutorial can show some human detection implementation which have high accuracies.

Alternatives you've considered:
OpenPose (Super Slow, low FPS even on RTX 3090).
Would like to use OpenCL for AMD and ARM Mali GPUs.

Thanks.

[2022-10-04 12:46] prabhuomkar commented on #89
Closing this issue as no further comment

[2022-10-04 12:46] #89 closed

[2022-10-08 03:02] pyun-ram opened #100 "[feature] Dockerfile to support CUDA-version pytorch-cpp"
Thanks for the nice code! Here is a Dockerfile to support CUDA-version pytorch-cpp. Hope it helps when you want to run the code with GPUs.

[code]

[2022-10-08 11:29] prabhuomkar commented on #100
@pyun-ram do you mind creating a PR with this feature? We would really appreciate that!

[2022-10-08 14:16] pyun-ram commented on #100
Sure. A PR has been raised. :)

[2022-10-15 08:17] mfl28 opened #102 "Update CI GIthub Actions runner settings"
* Some of the current CI runner/OS-settings are no longer available or are deprecated (e.g. `windows-2016`, `macos-10.15`) and must be updated.
* Some of the currently used Github actions are deprecated (`checkout` and `setup-cmake`) and must be updated to their latest versions.

[2022-10-15 12:40] #102 closed